<div id="title">
<h1>Teren.ce The ultimate email newsletter</h1>
<h2>penned daily by Terence Lee himself</h2>




</div>



<div class="email_signup">
  Signup to get emails straight from Terence!
  <form action="/registration" method="post">

    <label for="name">Name you want to be called by Terence</label>
    <input class="not_wide_input"  type="text" name="name" id="name"/>
    <br/>
    <br/>
    <label  for="email">Type your email!</label>
    <input class="not_wide_input" type="password" name="password" id="password"/>
    <br/>
    <br/>

    <button class="wide_input" style="margin-top: 50px;">Submit</button>

  </form>
</div>


